body {
  background: gray; }
  body .navbar-default {
    background: #FD9126;
    border: none;
    padding: 1em 0;
    margin-bottom: 0; }
  body textarea.form-control {
    margin-bottom: 1em; }
  body .btn-default {
    background-color: #2DCCFA;
    border: none;
    color: white;
    outline: none; }
  body #cancel {
    background-color: #F3F3F3;
    color: black; }
  body #cancel:hover {
    background: #E32171; }
  body #error {
    color: red;
    display: none;
    padding-top: 1em; }
  body #add-pic {
    padding: 4em 15em;
    background: white;
    display: none; }
  body #pic-window {
    padding: 2em; }
  body .post {
    margin: 0 auto;
    text-align: right; }
  body img {
    width: 100%; }
